# Copyright (c) 2016 Adam Karpierz
# Licensed under the zlib/libpng License
# https://opensource.org/license/zlib

include README.rst
include CHANGES.rst
include LICENSE
include pyproject.toml
include .readthedocs.yml

prune arch

graft docs

graft examples
prune examples/examples.c

graft src
prune src/libusb/libusb.h

graft tests
prune tests/tests.c

global-exclude \#* \#*/**
global-exclude .build .build/** .build.* .build.*/**
global-exclude *.py[cod] __pycache__
